<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

		<!-- bean definitions here -->
		
		<bean class="model.Entry" id = "entry">
		
			<property name = "word" value="ABACIST"/>	
			<property name = "meaning" value="n. One that casts accounts; a calculator."/>	
		
		</bean>
		
		<bean class="model.Entry" id = "entry2">
		
			<property name = "word" value="ABACK"/>	
			<property name = "meaning" value="Taken aback, is when the sails are carried back suddenly by the wind."/>	
		
		</bean>

</beans>